<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://localhost:5432/ligos</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <mapping class="ru.cs.ifmo.ligos.db.entities.AddressEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.AgeCategoryEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.ChatEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.ChatUsersEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.CourtEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.CourtPaymentEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.CourtReviewsEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.GoalsListEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.MatchesEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.MessageEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.OrganizationEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.SectionEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.SectionDetailsEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.SectionReviewsEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.SectionUsersEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.StagesEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.TeamEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.TeamUserEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.TournamentEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.TournamentDetailsEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.TournamentReviewsEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.TournamentTeamsEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.TrainerEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.TrainerReviewsEntity"/>
    <mapping class="ru.cs.ifmo.ligos.db.entities.UsersEntity"/>

     DB schema will be updated if needed
     <property name="hbm2ddl.auto">update</property>
  </session-factory>
</hibernate-configuration>